html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body .lds-ohmyfood {
  position: fixed;
  left: 46%;
  top: 0%;
  z-index: 1;
}
body .lds-ohmyfood div {
  position: absolute;
  width: 16px;
  -webkit-animation: lds-ohmyfood 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
          animation: lds-ohmyfood 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
}
body .lds-ohmyfood div:nth-child(1) {
  background-color: #99E2D0;
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
body .lds-ohmyfood div:nth-child(2) {
  background-color: #FF79DA;
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}
body .lds-ohmyfood div:nth-child(3) {
  background-color: #9356DC;
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
@-webkit-keyframes lds-ohmyfood {
  0% {
    top: 8px;
    height: 64px;
  }
  100% {
    top: 24px;
    height: 32px;
  }
}
@keyframes lds-ohmyfood {
  0% {
    top: 8px;
    height: 64px;
  }
  100% {
    top: 24px;
    height: 32px;
  }
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.header__logo img {
  width: 40%;
}

.main__form {
  display: flex;
  justify-content: center;
  background: linear-gradient(#aaa 1%, #e9e9e9 30%);
}
.main__form em {
  font-size: 20px;
  padding: 10px;
  margin-left: 100px;
}
.main__form .placeholder {
  color: #000;
  background-color: transparent;
  border: transparent;
}
.main__title {
  padding: 30px 20px;
  text-align: center;
  background-color: #f5f5f5;
}
.main__title .main__firstitle {
  font-size: 14px;
  margin-bottom: 20px;
}
.main__title p {
  color: #555;
  margin-bottom: 30px;
}
.main__title button {
  width: 230px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: 1px solid #FF79DA;
  cursor: pointer;
}
.main .fonctionnement {
  margin: 20px;
  padding: 30px 0;
}
.main .fonctionnement__title {
  margin-left: -8px;
}
.main .fonctionnement__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.main .fonctionnement__btn a {
  position: relative;
  width: 320px;
  height: 80px;
  border: 1px solid #f5f5f5;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main .fonctionnement__btn a .fa {
  color: #808080;
  font-size: 22px;
  padding-right: 25px;
}
.main .fonctionnement__btn a span {
  margin-right: 20px;
  font-weight: 700;
}
.main .fonctionnement__btn a .number {
  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 900;
  top: 25px;
  left: -15px;
  padding-left: 8px;
  padding-top: 4px;
}
.main .fonctionnement__btn a:hover {
  background-color: #f7f2fc;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.main .fonctionnement__btn a:hover .fa {
  color: #9356DC;
}
.main .restaurants {
  padding: 50px 20px;
  background-color: #f5f5f5;
  /* Create one column */
  /*
  padding: 50px 0;       
  background-color: $grey-light;
  &__title {
      margin: 0 0 30px 20px;
  }
  &__row {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }
  &__column {
      flex: 100%;
      max-width: 100%;        
  }
  &__card {
      position: relative;
      background-color: #fff; 
      margin: auto;
      width: 350px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 25px;
      .label {
          position: absolute;
          width: 100px;
          height: 30px;
          color: darken($tertiary-color, 30%);
          background-color: $tertiary-color;
          padding: 6px;
          top: 20px;
          left: 230px;
          font-weight: 700;
          text-transform: capitalize;
          text-align: center;
      }
      &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
  }
  img {
      border-radius: 25px 25px 0 0;
      width: 100%;
      height: 200px;
      object-fit: cover;
  }
  &__container {
      padding: 16px;
      line-height: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
          margin: 0;
          padding: 0;
      }        
  }
  &__heart { 
      font-size: 28px;
      @keyframes fade-out {
          0% {
              opacity: 1;
          }        
          100% {
              opacity: 0;
          }
      }
      @keyframes fade-in {
          0% {
              opacity: 0;
          }        
          100% {
              opacity: 1;
          }
      }
      .fa-solid {  
          color: $secondary-color;
          display: none;
      }
      .fa-regular {   
          color: #000;             
          display: block;                
      }            
      &:hover {
          .fa-solid {
              display: block;
              animation: fade-in 3s ease-out;                    
          }
          .fa-regular {
              animation: fade-out 3s ease-in; 
              display: none;
          }
      }
  }*/
}
.main .restaurants__title {
  text-align: left;
}
.main .restaurants__row { /* IE10 */
  display: flex; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.main .restaurants__column { /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
.main .restaurants__card {
  position: relative;
  border-radius: 25px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.main .restaurants__card .label {
  position: absolute;
  width: 100px;
  height: 30px;
  color: #32b091;
  background-color: #99E2D0;
  padding: 6px;
  top: 5%;
  right: 5%;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.main .restaurants__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.main .restaurants img {
  text-align: center;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.main .restaurants__container {
  padding: 16px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .restaurants__container h3 {
  margin: 0;
  padding: 0;
}
.main .restaurants__heart {
  font-size: 28px;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main .restaurants__heart .fa-solid {
  color: #FF79DA;
  display: none;
}
.main .restaurants__heart .fa-regular {
  color: #000;
  display: block;
}
.main .restaurants__heart:hover .fa-solid {
  display: block;
  -webkit-animation: fade-in 3s ease-out;
          animation: fade-in 3s ease-out;
}
.main .restaurants__heart:hover .fa-regular {
  -webkit-animation: fade-out 3s ease-in;
          animation: fade-out 3s ease-in;
  display: none;
}

.footer {
  background-color: #333;
  padding: 30px;
  color: #fff;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__logo img {
  width: 30%;
}
.footer__navigation a {
  color: #fff;
  line-height: 1.5;
}
.footer__navigation a .fa-solid {
  margin-right: 10px;
}

/* Responsive layout - 768px */
@media screen and (min-width: 768px) {
  .restaurants__column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - 992px  */
@media screen and (min-width: 992px) {
  .restaurants {
    max-width: 992px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 25px;
    /* Create one column */
  }
  .restaurants__title {
    text-align: left;
  }
  .restaurants__row { /* IE10 */
    display: flex;
    flex-direction: row; /* IE10 */
    flex-wrap: nowrap;
    padding: 0 4px;
  }
  .restaurants__column { /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .restaurants__card {
    position: relative;
    border-radius: 25px;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .restaurants__card .label {
    position: absolute;
    width: 100px;
    height: 30px;
    color: #32b091;
    background-color: #99E2D0;
    padding: 6px;
    top: 5%;
    right: 5%;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }
  .restaurants__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .restaurants img {
    text-align: center;
    width: 100%;
    height: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px 25px 0 0;
  }
  .restaurants__container {
    padding: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .restaurants__container h3 {
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */