html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 375px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80px;
}
.header__logo img {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header__home {
  position: absolute;
  left: 20px;
}
.header__home .fa-arrow-left {
  font-size: 20px;
  margin: 0;
}

.main .restaurant {
  padding-bottom: 50px;
}
.main .restaurant__title {
  margin-left: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 16px;
}
.main .restaurant__card {
  position: relative;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.main .restaurant__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.main .restaurant img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .restaurant__container {
  position: absolute;
  width: 100%;
  top: 176px;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  margin: 0px;
  border-radius: 25px 25px 0 0;
}
.main .restaurant__heart {
  font-size: 28px;
  margin-right: 10px;
}
.main .restaurant__heart .fa-heart path {
  fill: #f1f1f1;
  stroke: #000;
  stroke-width: 10px;
  transition: fill 1s ease-out;
}
.main .restaurant__heart .fa-heart path:hover {
  fill: #FF79DA;
  stroke: #FF79DA;
}
.main .wrapper-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}
@-webkit-keyframes slide-bottom-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-bottom-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-in {
  0% {
    width: 10px;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 80px;
  }
}
@keyframes slide-in {
  0% {
    width: 10px;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 80px;
  }
}
@-webkit-keyframes slide-out {
  0% {
    width: 80px;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 10px;
  }
}
@keyframes slide-out {
  0% {
    width: 80px;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 10px;
  }
}
.main .wrapper-menu .menu {
  -webkit-animation: slide-bottom-top 3s ease-in-out;
          animation: slide-bottom-top 3s ease-in-out;
  flex: 100%;
  max-width: 100%;
  margin-bottom: 40px;
  padding: 0 8px;
}
.main .wrapper-menu .menu__title {
  margin-left: 20px;
}
.main .wrapper-menu .menu__title h2 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
}
.main .wrapper-menu .menu__title hr {
  border-color: transparent;
  color: transparent;
  background-color: #99E2D0;
  width: 30px;
  height: 2px;
  margin: 0;
}
.main .wrapper-menu .menu__btn a {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main .wrapper-menu .menu__btn a .text {
  font-size: 14px;
  line-height: 1.5;
}
.main .wrapper-menu .menu__btn a .weight {
  font-size: 16px;
  font-weight: 700;
}
.main .wrapper-menu .menu__btn a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.main .wrapper-menu .menu__btn a:hover .menu__green-btn {
  height: 80px;
  width: 80px;
  -webkit-animation: slide-in 0.4s ease-in;
          animation: slide-in 0.4s ease-in;
}
.main .wrapper-menu .menu__btn a:hover .menu__green-btn .fa-circle-check {
  -webkit-animation: rotate-360 1s ease-in-out;
          animation: rotate-360 1s ease-in-out;
}
.main .wrapper-menu .menu .wrapper-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .wrapper-menu .menu .price {
  margin-right: 20px;
  margin-bottom: 21px;
}
.main .wrapper-menu .menu .text {
  margin-left: 20px;
  margin-bottom: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .wrapper-menu .menu__green-btn {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  font-size: 30px;
  color: #fff;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  -webkit-animation: slide-out 0.4s ease-out;
          animation: slide-out 0.4s ease-out;
}
.main .wrapper-menu button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: 1px solid #FF79DA;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  filter: brightness(90%);
}
.main .wrapper-menu button:hover {
  filter: brightness(120%);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7);
}
.main__btn {
  margin: auto;
  margin-bottom: 30px;
}

.footer {
  background-color: #333;
  padding: 30px;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__logo img {
  width: 150px;
}
.footer__navigation a {
  color: #fff;
  line-height: 1.5;
}
.footer__navigation a .fa-utensils,
.footer__navigation a .fa-handshake-angle {
  margin-right: 10px;
}
.footer__navigation ul {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header__logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 80px;
  }
  .header__logo img {
    width: 300px;
    margin-left: 70px;
  }
  .header__home {
    position: absolute;
    left: 20px;
  }
  .header__home .fa-arrow-left {
    font-size: 30px;
    margin: 0;
  }
  .main .restaurant {
    padding-bottom: 50px;
  }
  .main .restaurant__title {
    margin-left: 10px;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
  }
  .main .restaurant__card {
    position: relative;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .main .restaurant__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .main .restaurant img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .restaurant__container {
    position: absolute;
    width: 100%;
    top: 480px;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    margin: 0px;
    border-radius: 25px 25px 0 0;
  }
  .main .restaurant__heart {
    font-size: 32px;
    margin-right: 10px;
  }
  .main .wrapper-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: #f1f1f1;
    padding-bottom: 30px;
  }
  .main .wrapper-menu .menu {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
  }
  .main .wrapper-menu .menu__title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
    line-height: 2;
  }
  .main .wrapper-menu .menu__title hr {
    color: transparent;
    background-color: #99E2D0;
    width: 30px;
    height: 2px;
    margin: 0;
  }
  .main .wrapper-menu .menu__btn a {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .main .wrapper-menu .menu__btn a .text {
    font-size: 10px;
    line-height: 1.5;
  }
  .main .wrapper-menu .menu__btn a .weight {
    font-size: 12px;
    font-weight: 700;
  }
  .main .wrapper-menu .menu__btn a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .main .wrapper-menu .menu__btn a:hover .menu__green-btn {
    height: 80px;
    width: 80px;
    right: 0;
    left: 100%;
  }
  .main .wrapper-menu .menu .wrapper-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .wrapper-menu .menu .price {
    margin-right: 20px;
    margin-bottom: 21px;
  }
  .main .wrapper-menu .menu .text {
    margin-left: 20px;
    margin-bottom: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .wrapper-menu .menu__green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    height: 80px;
    font-size: 30px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 0 10px 10px 0;
  }
  .main .wrapper-menu button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: 1px solid #FF79DA;
    cursor: pointer;
  }
  .main__btn {
    margin: 50px auto;
  }
  .footer__logo {
    width: 600px;
  }
  .footer__logo img {
    width: 250px;
  }
  .footer__navigation a .fa-utensils,
.footer__navigation a .fa-handshake-angle {
    margin-right: 5px;
  }
  .footer__navigation ul {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header__logo {
    position: relative;
    display: flex;
    height: 140px;
  }
  .header__logo img {
    width: 500px;
    margin-left: 90px;
  }
  .header__home {
    position: absolute;
    left: 20px;
  }
  .header__home .fa-arrow-left {
    font-size: 40px;
    margin: 0;
  }
  .main .restaurant {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .main .restaurant__title {
    margin-left: 10px;
    font-family: "Shrikhand", cursive;
    font-size: 22px;
  }
  .main .restaurant__card {
    position: relative;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .main .restaurant__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .main .restaurant img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .restaurant__container {
    position: absolute;
    width: 100%;
    top: 580px;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    margin: 0px;
    border-radius: 25px 25px 0 0;
  }
  .main .restaurant__heart {
    font-size: 34px;
    margin-right: 10px;
  }
  .main .wrapper-menu {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    background-color: #f1f1f1;
    padding-bottom: 30px;
  }
  .main .wrapper-menu .menu {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 8px;
  }
  .main .wrapper-menu .menu__title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
    line-height: 2;
  }
  .main .wrapper-menu .menu__title hr {
    color: transparent;
    background-color: #99E2D0;
    width: 30px;
    height: 2px;
    margin: 0;
  }
  .main .wrapper-menu .menu__btn a {
    margin-top: 16px;
    vertical-align: middle;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .main .wrapper-menu .menu__btn a .text {
    font-size: 14px;
    line-height: 1.5;
  }
  .main .wrapper-menu .menu__btn a .weight {
    font-size: 16px;
    font-weight: 700;
  }
  .main .wrapper-menu .menu__btn a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .main .wrapper-menu .menu__btn a:hover .menu__green-btn {
    height: 80px;
    width: 80px;
    right: 0;
    left: 100%;
  }
  .main .wrapper-menu .menu .wrapper-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .wrapper-menu .menu .price {
    margin-right: 20px;
    margin-bottom: 21px;
  }
  .main .wrapper-menu .menu .text {
    margin-left: 20px;
    margin-bottom: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .wrapper-menu .menu__green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    height: 80px;
    font-size: 30px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 0 10px 10px 0;
  }
  .main .wrapper-menu button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: 1px solid #FF79DA;
    cursor: pointer;
  }
  .main__btn {
    margin: 50px auto;
  }
  .footer__wrapper {
    max-width: 1420px;
    margin: 0 auto;
  }
  .footer__logo {
    width: 800px;
  }
  .footer__logo img {
    width: 300px;
  }
  .footer__navigation ul {
    font-size: 25px;
  }
}/*# sourceMappingURL=pages.css.map */