html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 375px;
  height: 2263px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

.container {
  width: 375px;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
}

.header__logo img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  border-top: 5px solid #d1d1d1;
}
.form em {
  font-size: 20px;
}
.form .placeholder {
  color: #000;
  background-color: #e9e9e9;
  border: #e9e9e9;
  padding-left: 10px;
}

.main__title {
  padding: 40px;
  text-align: center;
  background-color: #f5f5f5;
}
.main__title .title {
  font-family: "Shrikhand", cursive;
  font-size: 12px;
  margin-bottom: 20px;
}
.main__title p {
  color: #555;
  margin-bottom: 30px;
}
.main__title .btn__form button {
  width: 230px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: 1px solid transparent;
  cursor: pointer;
}

.title__fonctionnement {
  margin: 60px 0 30px 20px;
}

.btn__fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn__fonctionnement a {
  position: relative;
  width: 320px;
  height: 80px;
  border: 1px solid #f4f4f4;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn__fonctionnement a .fa {
  color: #808080;
  font-size: 22px;
  padding-right: 25px;
}
.btn__fonctionnement a span {
  margin-right: 20px;
  font-weight: 700;
}
.btn__fonctionnement a .number {
  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 900;
  top: 25px;
  left: -15px;
  padding-left: 8px;
  padding-top: 4px;
}
.btn__fonctionnement a:hover {
  background-color: #f7f2fc;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.btn__fonctionnement a:hover .fa {
  color: #9356DC;
}

.restaurants .row__restaurants {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
}
.restaurants .column__restaurants {
  flex: 100%;
  max-width: 100%;
}
.restaurants .card__restaurants {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.restaurants .card__restaurants:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.restaurants img {
  border-radius: 5px 5px 0 0;
  width: 367px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .container__restaurants {
  padding: 2px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants .container__restaurants h3 {
  margin: 0;
  padding: 0;
}
.restaurants .container__restaurants .heart__restaurants {
  font-size: 28px;
}
.restaurants .container__restaurants .heart__restaurants .fa-solid {
  display: none;
  opacity: 0;
  color: #FF79DA;
}
.restaurants .container__restaurants .heart__restaurants .fa-regular {
  opacity: 1;
}
.restaurants .container__restaurants .heart__restaurants:hover .fa-solid {
  opacity: 1;
  display: initial;
}
.restaurants .container__restaurants .heart__restaurants:hover .fa-regular {
  display: none;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */