
*, 
*:before, 
*:after {
    -moz-box-sizing    : border-box; /* Firefox */
    -webkit-box-sizing : border-box; /* Safari */
    box-sizing         : border-box;
    *behavior          : url(./css/boxsizing.htc); /* ie7 et ie8 */
  }
  
/*oooo Color Chart oooo*/ 
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
/*xxxx Color Chart xxxx*/