html {
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
     
    margin: 0 auto;
    padding: 0;
    min-width: 375px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;          
}

h1,
h2,
h3,
p,
a,
ul {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #000;    
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
}

.container {    
    width: 100%;
    margin: 0 auto;
}