.footer {    
    background-color: $grey-dark;
    padding: 30px;
    &__logo {
        margin-bottom: 10px;
        img {
            width: 150px;
        }        
    }
    &__navigation {
        a {
            color: #fff;
            line-height: 1.5;
            .fa-utensils,
            .fa-handshake-angle {
                margin-right: 10px;
            }
        }
        ul {
            font-size: 18px;
            display: flex;
            flex-direction: column; 
        }        
    }
}
@media screen and (min-width: 768px) {
    .footer {
        &__logo {
            width: 600px;
            img {
                width: 250px;
            }
        }
        &__navigation ul {
            font-size: 20px;
            display: flex;
            justify-content: space-between; 
            flex-direction: row;           
        }
    }
}
@media screen and (min-width: 992px) {
    .footer {
        &__wrapper {
            max-width: 1420px;
            margin: 0 auto;
        }
        &__logo {
            width: 800px;
            img {
                width: 300px;
            }
        }
        &__navigation ul {
            font-size: 25px;
        }
    }
}