.main {
    &__title {    
        padding: 50px 20px;
        text-align: center;
        background-color: $grey-light;
        h1 {
            font-size: 28px;
            margin-bottom: 20px;
        }
        p {
            color: #555;
            margin-bottom: 30px;
        }        
        button {
            width: 230px;
            height: 50px;            
            border-radius: 50px;
            color: #fff;
            font-weight: 700;
            background: linear-gradient(to bottom right, $secondary-color, $primary-color);
            border: 1px solid $secondary-color;
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
            filter: brightness(90%);
            transition: box-shadow .2s ease-out;
            &:hover {
                filter: brightness(110%);
                box-shadow: 0 32px 64px 0 rgba(0,0,0,1);                
            }
        }
        
    }
}