/*
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/

/* BEGGIN */

/* BOX-SIZING */
*, 
*:before, 
*:after {
    box-sizing: border-box;
}

/* variables */
:root {
    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $color-tertiary: #99E2D0;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* base styles */


/* fonts */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){
  
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}