$primary-color: #9356DC;
$secondary-color: #FF79DA;
$color-tertiary: #99E2D0;
$grey-light: #f5f5f5;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1,
h2,
h3,
p,
a,
ul {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #000;    
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
}

.container {
    width: 375px;
    margin: 0 auto;
}

.header {
    &__logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 50px;    
    }    
    &__logo img {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__home {
        position: absolute;
        left: 20px;
        z-index: 1;
        em {            
            font-size: 20px;
            margin: 0; 
            
        }                    
    }    
    
}

.main {    
    .restaurant {
        padding-bottom: 50px;
        &__title {
            margin-left: 10px;
            margin-bottom: 20px;
            font-family: 'Shrikhand', cursive;
            font-size: 12px;
        }
        &__card {
            position: relative;
            vertical-align: middle;           
            margin: auto;
            width: 100%;
            height: 100%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
        }
        img {            
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        &__container {
            position: absolute;
            width: 100%;
            top: 176px;            
            padding: 20px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $grey-light;
            margin: 0px;
            border-radius: 25px 25px 0 0;
        }
        &__heart { 
            font-size: 28px;
            margin-right: 10px;
            margin-bottom: 28px;
            @keyframes fade-out {
                from {
                    opacity: 1;
                }        
                to {
                    opacity: 0;
                }
            }
            @keyframes fade-in {
                from {
                    opacity: 0;
                }        
                to {
                    opacity: 1;
                }
            }
            .fa-solid {  
                color: $secondary-color;
                display: none;
            }
            .fa-regular {                            
                display: block;                
            }            
            &:hover {
                .fa-solid {
                    display: block;
                    animation: fade-in 3s ease-out;                    
                }
                .fa-regular {
                    animation: fade-out 3s ease-in; 
                    display: none;
                }
            }
        }     
    }
    .wrapper-menu { 
        @keyframes fade-in {
            from {
                opacity: 0;
            }        
            to {
                opacity: 1;
            }
        }        
        position: relative;
        background-color: $grey-light;
        padding: 0 0 100px 0;
        .menu { 
            animation: fade-in 3s ease-in-out;           
            &__title {
                font-size: 12px;
                text-transform: uppercase;
                margin-left: 30px;
                line-height: 2;
                hr {
                    color: transparent;
                    background-color: $color-tertiary;
                    width: 30px; 
                    height: 2px;                   
                    margin: 0;
                }
            }
            &__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                margin-top: 10px;
                margin-bottom: 50px;
            }
            &__btn a {              
                width: 320px;
                height: 80px;
                background-color: #fff;  
                border-radius: 20px;     
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-wrap: nowrap;
                transition: 0.5s;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                .text {
                    font-size: 12px;
                    line-height: 1.5;
                }
                .weight {
                    font-size: 14px;
                    font-weight: 700;
                }               
                &:hover {                    
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                    .menu__green-btn {
                        display: block;
                        margin: 0;                 
                        animation: fade-in 3s ease-in-out;
                    }
                }
            } 
            .price {
                margin-right: 20px;
                margin-bottom: 21px;
            }
            .text {
                margin-left: 20px;
                margin-bottom: 21px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__green-btn {                
                display: none;
                color: #fff;
                background-color: $color-tertiary;
                padding: 31px 20px;
                border-radius: 0 20px 20px 0;
            }       
        }
        button {
            position: absolute;
            width: 200px;
            height: 50px;
            margin-bottom: 20px;
            border-radius: 50px;
            color: #fff;
            font-weight: 700;
            background: linear-gradient(to bottom right, $secondary-color, $primary-color);
            border: 1px solid $secondary-color;
            cursor: pointer;
            left: 70px;
        }
    }
}

.footer {
    background-color: #333;
    padding: 30px;
    color: #fff;
    &__logo {
        margin-bottom: 10px;
        img {
            width: 30%;
        }
    }
    &__navigation a {
        color: #fff;
        line-height: 1.5;
        .fa-solid {
            margin-right: 10px;
        }
    }
}